*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
header
{

 display: flex;
 justify-content: space-between;
 align-items: flex-end;
  background-color: pink;
}
#en-tete
{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-left: auto;

}
.logo{
    display:flex;
    flex-direction :row;
    align-items: baseline;
}
.logo img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
header h1
{
 font-family: 'BallparkWeiner', serif;
 font-size: 2.5em;
 font-weight: normal;
 margin: 0 0 0 10px;
}
header h2
{
 font-family: Dayrom, serif;
 font-size: 1.1em;
 margin-top: 0px;
 font-weight: normal;
}
nav {
    margin-left: auto;
}
nav ul
{
 list-style-type: none;
 display: flex;
}
nav li
{
 margin-right: 15px;
}
nav a
{
 font-size: 1.3em;
 color: #181818;
 padding-bottom: 3px;
 text-decoration: none;
}
nav a:hover
{
 color: #760001;
 border-bottom: 3px solid #760001; 
 }
 .stade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    }